<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.identity.auth.dal.mapper.TMemberProductInfoMapper">
  <resultMap id="BaseResultMap" type="com.identity.auth.dal.model.TMemberProductInfo">
    <id     column="ID"           jdbcType="INTEGER"    property="id" />
    <result column="MEMBER_ID"    jdbcType="VARCHAR"    property="memberId" />
    <result column="PRODUCT_ID"   jdbcType="VARCHAR"    property="productId" />
    <result column="OPEN_STATUS"  jdbcType="VARCHAR"    property="openStatus" />
    <result column="CREATED_AT"   jdbcType="TIMESTAMP"  property="createdAt" />
    <result column="CREATED_BY"   jdbcType="VARCHAR"    property="createdBy" />
    <result column="UPDATED_AT"   jdbcType="TIMESTAMP"  property="updatedAt" />
    <result column="UPDATED_BY"   jdbcType="VARCHAR"    property="updatedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, MEMBER_ID, PRODUCT_ID, OPEN_STATUS, CREATED_AT, CREATED_BY, UPDATED_AT, UPDATED_BY
  </sql>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_member_product_info
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByMemberId" parameterType="Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_member_product_info
    where MEMBER_ID = #{memberId,jdbcType=VARCHAR}
    <if test="openStatus != null">
      AND OPEN_STATUS = #{openStatus,jdbcType=VARCHAR},
    </if>
  </select>

  <select id="selectMemberProductById" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_member_product_info
    where MEMBER_ID = #{memberId,jdbcType=VARCHAR}
    AND PRODUCT_ID = #{productId,jdbcType=VARCHAR}
    <if test="openStatus != null">
      AND OPEN_STATUS = #{openStatus,jdbcType=VARCHAR},
    </if>
  </select>

  <insert id="insert" parameterType="com.identity.auth.dal.model.TMemberProductInfo" keyProperty="id" useGeneratedKeys="true">
    insert into t_member_product_info (MEMBER_ID, PRODUCT_ID,OPEN_STATUS, CREATED_AT, CREATED_BY)
    values ( #{memberId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR},#{openStatus,jdbcType=VARCHAR}, CURRENT_TIMESTAMP , #{createdBy,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.identity.auth.dal.model.TMemberProductInfo">
    update t_member_product_info
    <set>
      <if test="productId != null">
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="openStatus != null">
        OPEN_STATUS = #{openStatus,jdbcType=VARCHAR},
      </if>
        UPDATED_AT = CURRENT_TIMESTAMP ,
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectMemberOpenProduct" parameterType="Map"  resultMap="BaseResultMap">
      SELECT tmp.id AS ID,tmp.MEMBER_ID AS MEMBER_ID,tmp.PRODUCT_ID AS PRODUCT_ID,tmp.OPEN_STATUS AS OPEN_STATUS FROM
      t_member_product_info tmp ,
			t_member_info tmi ,
			t_product_info tpi
      WHERE tmp.MEMBER_ID = tmi.MEMBER_ID AND tmp.PRODUCT_ID = tpi.PRODUCT_ID
      AND tmp.OPEN_STATUS =  #{openStatus,jdbcType=VARCHAR} AND tmi.MEMBER_STATUS= #{openStatus,jdbcType=VARCHAR}
      AND tpi.PRODUCT_STATUS =  #{openStatus,jdbcType=VARCHAR} AND tmp.MEMBER_ID =  #{memberId,jdbcType=VARCHAR}
      <if test="productId != null">
        tmp.PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
  </select>
</mapper>